[report]

include =
    *pyftpdlib*

omit =
    *pyftpdlib/_compat.py
    *pyftpdlib/test/*
    setup.py

exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    except ImportError:
    if os.name == 'nt':
    raise NotImplementedError('must be implemented in subclass')
    if hasattr(select, 'epoll'):
    if hasattr(select, 'kqueue'):
    if PY3:
    if hasattr(select, 'devpoll'):
    if hasattr(select, 'kqueue'):
    if os.sep == "\\":
