include .coveragerc
include .git-pre-commit
include .gitignore
include CREDITS
include HISTORY.rst
include LICENSE
include MANIFEST.in
include Makefile
include README.rst
include demo/anti_flood_ftpd.py
include demo/basic_ftpd.py
include demo/keycert.pem
include demo/md5_ftpd.py
include demo/multi_proc_ftp.py
include demo/multi_thread_ftp.py
include demo/throttled_ftpd.py
include demo/tls_ftpd.py
include demo/unix_daemon.py
include demo/unix_ftpd.py
include demo/winnt_ftpd.py
include docs/Makefile
include docs/README
include docs/adoptions.rst
include docs/api.rst
include docs/benchmarks.rst
include docs/conf.py
include docs/faqs.rst
include docs/images/freebsd.gif
include docs/index.rst
include docs/install.rst
include docs/make.bat
include docs/rfc-compliance.rst
include docs/tutorial.rst
include make.bat
include pyftpdlib/__init__.py
include pyftpdlib/__main__.py
include pyftpdlib/_compat.py
include pyftpdlib/authorizers.py
include pyftpdlib/filesystems.py
include pyftpdlib/handlers.py
include pyftpdlib/ioloop.py
include pyftpdlib/log.py
include pyftpdlib/prefork.py
include pyftpdlib/servers.py
include pyftpdlib/test/README
include pyftpdlib/test/__init__.py
include pyftpdlib/test/keycert.pem
include pyftpdlib/test/runner.py
include pyftpdlib/test/test_authorizers.py
include pyftpdlib/test/test_filesystems.py
include pyftpdlib/test/test_functional.py
include pyftpdlib/test/test_functional_ssl.py
include pyftpdlib/test/test_ioloop.py
include pyftpdlib/test/test_misc.py
include pyftpdlib/test/test_servers.py
include scripts/ftpbench
include scripts/internal/generate_manifest.py
include scripts/internal/print_announce.py
include scripts/internal/purge_installation.py
include scripts/internal/winmake.py
include setup.py
include tox.ini
