body {
    font-family:arial,sans-serif;
    font-size:83%;
    width:960px;
}

table {
    border:0px;
}

.title {
    float:left;
}

td {
    border: 1px solid #aaa;
    padding: 5px;
    font-size:83%;
}

pre {
    border-left:3px solid #CCCCCC;
    margin-left:2em;
    padding:0.5em;
}

