# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

on: [push, pull_request]
name: tests
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}-${{ github.event_name }}-${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) && github.sha || '' }}
  cancel-in-progress: true
jobs:
  # Run unit tests
  tests:
    name: "py-${{ matrix.python-version }}, ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13"]
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install pydeps ${{ matrix.os }}
        if: matrix.os == 'windows-latest'
        run: |
          python.exe -m pip install --upgrade pypiwin32 wmi pyopenssl psutil pytest pyasyncore pyasynchat
      - name: Install pydeps ${{ matrix.os }}
        if: matrix.os != 'windows-latest'
        run: |
          make install-pydeps-test

      - name: Tests
        run: |
          make test

  # Run linters
  linters:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
    - name: 'Run linters'
      run: |
        python3 -m pip install --upgrade black ruff rstcheck toml-sort sphinx-rtd-theme
        python3 -m pip freeze
        make lint-all
