# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

on: [push, pull_request]
name: tests
jobs:
  linux:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.11"]
        os: [ubuntu-latest]

    steps:
      - uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install pydeps
        run: |
          make setup-dev-env PYTHON=python

      - name: Tests
        run: |
          make test PYTHON=python

  windows:
    runs-on: windows-2019
    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install pydeps
        run: |
          python.exe -m pip install --upgrade --user setuptools pip wheel
          python.exe -m pip install --upgrade mock ipaddress pypiwin32 wmi pyopenssl psutil
          python.exe -m pip freeze
          python.exe setup.py install

      - name: Tests
        run: |
          python.exe pyftpdlib/test/runner.py

  # Run linters
  linters:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
    - name: 'Run linters'
      run: |
        python3 -m pip install ruff rstcheck toml-sort sphinx-rtd-theme
        python3 -m pip freeze
        make lint-all
